<div id="packageLogModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Package Log</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <pre id="logBody" class="border border-light p-3 bg-light">
            </pre>
            <div class="status invisible text-right">
                Updating <i class="fas fa-circle-notch fa-spin"></i>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        // request interval
        var interval = null;
        var processing = false;
        
        //
        // On package log modal show
        //
        $('#packageLogModal').on('shown.bs.modal', function(e) {
            // clear log body
            $(this).find('#logBody').html('');

            // get the related target
            var relatedTarget = $(e.relatedTarget);

            // get the log file
            var log = relatedTarget.attr('data-log');

            // get the package log url
            var requestPath = '/admin/package/log/' + log;
            
            // request function
            var request = function() {
                if (processing) {
                    return;
                }

                processing = true;

                $('#packageLogModal .status')
                    .addClass('visible')
                    .removeClass('invisible');

                // parse the log file
                $.get(requestPath, function(response) {
                    processing = false;

                    var data = [
                        '...'
                    ];
                    
                    // do we have logs?
                    if (response.logs) {
                        // set timestamp and status
                        data = [
                            'Timestamp: ' + response.timestamp,
                            'Status: ' + response.status,
                            ''
                        ];

                        // iterate on each log string
                        for(var i in response.logs) {
                            // append log string
                            data.push(' - ' + response.logs[i]);
                        }
                    }

                    // still pending?
                    if (response.status && response.status.indexOf('pending') <= 0) {
                        clearInterval(interval);
                    }

                    // update the body
                    $('#packageLogModal #logBody').html(data.join('<br/>'));

                    setTimeout(function() {
                        $('#packageLogModal .status')
                            .removeClass('visible')
                            .addClass('invisible');
                    }, 1000);
                });
            };

            // send initial request
            request();

            // update every seconds
            interval = setInterval(request, 5000);
        });

        // 
        // On package log modal hide
        //
        $('#packageLogModal').on('hide.bs.modal', function() {
            // clear log body
            $(this).find('#logBody').html('');

            // clear interval
            clearInterval(interval);

            // clear out
            interval = null;
            processing = false;            
        });
    });
</script>